* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  text-align: center;
}

header {
  height: 100px;
  padding: 10px;
  background-color: #2F2235;
}

h1, .student-name {
  margin: 0 auto;
  color: #FFF;
}

h1 {
  font-weight: 300;
  font-size: 30px;
}

.student-name {
  font-size: 14px;
  font-weight: 600;
}

.h1-highlight {
  color: #34D1D1;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

button {
  width: 290px;
  height: 60px;
  border: none;
  border-radius: 0;
  background-color: #3F3244;
  color: #FFF;
  font-size: 22px;
}

.accent-line {
  width: 80px;
  height: 1px;
  margin: auto;
  background-color: #D1D2D3;
}

.header-accent-line {
  margin: 10px auto;
  background-color: #666666;
}